@import '../../config.scss';

.categories {
  padding: 25px $default-spacing;
  @include flex(space-between);
  flex-wrap: wrap;

  .box {
    margin: 25px;
    height: 150px;
    @include flex(space-between, $direction: column);

    &:hover > .box-label {
      opacity: 1;
    }

    &:hover > .box-image {
      border: 2px solid rgba($main-color, 0.75);
    }

    &-image {
      padding: 10px;
      width: 116px;
      border: 2px solid transparent;
      border-radius: 50%;

      @media (max-width: 700px) {
        width: 150px;
        margin-bottom: 15px;
      }
    }

    &-label {
      color: $main-color;
      opacity: 0.5;
      letter-spacing: 1px;
      font-size: 1.4em;

      transition: opacity 0.2s ease-in-out;
    }
  }

  @media (max-width: 1300px) {
    justify-content: center !important;
  }
}
