@import '../../config.scss';

#companies {
  text-align: center;
  color: $main-color;

  .slider {
    height: 500px !important;

    .previousButton polygon,
    .nextButton polygon {
      fill: #000;
    }
  }

  .content {
    padding: 25px $default-spacing;
    @include flex(space-around);

    img {
      filter: grayscale(100%);
      opacity: 0.5;
      width: 210px;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        filter: none;
      }
    }

    @media (max-width: 1200px) {
      margin-left: 0;
      flex-direction: column;

      img {
        margin: 25px 0;
      }
    }
  }
}
