@import '../../../config.scss';
@import '../../../animation.scss';

.top-bar {
  color: #fff;
  min-height: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  background: $main-color;
  padding: 0 $default-spacing;

  @include flex($justify: space-between);

  &-icon {
    margin-right: 15px;
    height: 18px;
  }

  &-text {
    font-size: 1em;
    text-transform: uppercase;
    line-height: 13px;
  }

  &-item {
    position: relative;
    @include flex();
    @include addAnimation(&, appear-top, 4);

    width: 100%;

    &:not(:nth-last-child(1)) {
      border-right: 1px solid rgba(#c4c4c4, 0.4);
    }
  }

  @media (max-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-item {
      margin: 15px 0;
      border: 0 !important;
    }
  }

  @media (max-width: 750px) {
    $default-spacing: 25px;

    padding: 0 $default-spacing;
  }
}
