@import '../../../config.scss';

.nav {
  $border-color: rgba(#ccc, 0.5);

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $main-color;
  padding: 0 $default-spacing;

  .nav-list {
    list-style: none;
    width: 85%;
    display: flex;
    justify-content: space-between;

    > li {
      text-transform: uppercase;
      letter-spacing: 0.3px;
      font-weight: 700;
      padding: 15px 0;
      position: relative;
      cursor: pointer;
      position: relative;
      font-size: 1em;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;

        width: 0;
        height: 4px;
        background: $main-color;
        bottom: -2px;
        right: 0;
        border-radius: 25px;

        transition: width 0.2s ease-in-out;
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }

    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    $default-spacing: 25px;

    margin-top: 15px;
    padding: 15px $default-spacing;

    .nav-list {
      flex-direction: column;

      li {
        padding: 15px;

        &:hover {
          background: #fafafa;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
