// 140px
@import './config.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

*,
input,
input::placeholder,
button {
  font-family: $font;
  outline: none;
  border: none;
}

a,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.input {
  @include flex(space-between, $direction: row);

  border: 1px solid rgba($main-color, 0.4);
  border-radius: 5px;
  font-size: 9px;
  padding: 0 25px;
  color: $main-color;
}

.dropdown::before {
  content: '';

  cursor: pointer;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-radius: 2px;
  border-color: $main-color transparent transparent transparent;
  line-height: 0px;
  _border-color: $main-color #000000 #000000 #000000;

  // ie6
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.regular {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.btn {
  @include button();
}
