$main-color: #041e50;
$font: Lato, Inter, -apple-system, Arial, sans-serif;
$default-spacing: 140px;

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin button($type: default, $outline: $main-color) {
  // $types: default, solid, outlined, banner.

  cursor: pointer;
  position: relative;
  border-radius: 5px;
  padding: 15px 45px;

  transition: 0.1s ease-in-out;

  @if $type == solid {
    background: $main-color;
    color: #fff;

    &:hover,
    &:focus {
      box-shadow: 5px 5px 15px rgba($main-color, 0.5);
    }
  } @else if $type == outlined {
    background: transparent;
    border: 2px solid $outline;

    &:hover,
    &:focus {
      @if $outline == $main-color {
        color: #fff !important;
      } @else {
        color: $main-color !important;
      }
      background: $outline;
      box-shadow: 5px 5px 15px rgba($main-color, 0.5);
    }
  }
}

@mixin addAnimation($element_name, $animation_name, $elements_number) {
  $counter: 0;

  @for $i from 1 through $elements_number {
    &:nth-child(#{$i}) {
      animation: $animation_name #{0.5 + $counter}s ease-in-out;
    }

    $counter: $counter + 0.15;
  }
}
